{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password_Genertor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/pg.css' %}" rel="stylesheet">
    </head>
    <body>
    <div class="header">
        <h1> PAssWOrd GEneratOR</h1>
    </div>
    <div class="menu">
     <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'Need_of_password' %}">Need_Of_Password</a></li>
        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
    </ul>    
    </div>
    <div class="need_of_password">
    <br>
    <br>
   <h1>Need_Of_Password</h1>
   <br>
   <p id="para5">
       <i>Passwords</i> are important. They help your personal accounts stay private and secure but, if you’re guilty of reusing, rotating, or using notoriously easy passwords, you are leaving yourself open to an account breach. Therefore, you should know what makes a strong password so that you can ensure the maximum security for your sensitive information</p>
   <br>
   <p id="para6"><strong>Why is Password Security Important?</strong>
    <br>
    <b>Repeatedly</b> using the same passwords or using ‘weak’ passwords can leave you vulnerable to hackers. If a hacker cracks your passwords, they could gain access to your social media accounts, bank accounts, emails and other sensitive accounts that hold your confidential, personal data. If someone obtains access to this information, you could become the victim of identity theft. Therefore, creating a strong password is vital.
   <br>
   <br>
   <b>Password</b> hacking is often carried out in one of the following ways:
   Brute force attacks. A hacker uses automated software to guess your username and password combination. The software tries every possible character combination and will try the most commonly used passwords first, so weak or common passwords can be relatively simple for a brute force attack to crack. While this method will eventually crack your password by cycling through every possibility until it matches your character combination, you can make it take a very long time by using a complex password.
   <br>
   <br>
   <b>Phishing</b> and social engineering. Accessing someone’s password using a phishing or social engineering attack is not technically a type of hack, but it provides the ‘hacker’ with access to your passwords and confidential information. This in turn allows them to access your accounts. Phishing occurs when a hacker targets you with spoofed emails that look like they come from legitimate organisations, while social engineering is real world phishing (i.e. over the phone).<br>
   The repercussions of identity theft can be long lasting and they are not only limited to financial problems. The victim could also face a range of emotional implications, including stress and anxiety. Therefore, it’s important that you take measures to protect yourself from the burdens of having an account hacked.
   </p>
   <p id="para7"><strong>Password Security Tips</strong>
   If you want to keep your accounts and personal information safe, it’s vital that you understand how to create a strong password. Are you guilty of using ‘1234’, ‘admin’ or ‘password’? If you are, it’s time for you to work on your password security. Below we have compiled a list of helpful tips so you can be sure that your accounts are secure.<br>
   <br>
   *) <b><strong><u>Create</strong> a secure password you should never :</u></b><br>
    1) Use your name, family member’s names, important dates such as anniversaries and birthdays, special places, the word ‘password’ or sequential lists of numbers or letters. All of these are far too easy to crack, and you should avoid them at all costs.<br>
   2) Use dictionary words. When hackers attempt to access your accounts, they run various dictionaries against your passwords in an attempt to crack them. This includes both English and foreign words and phonetic patterns. So while you might think that opening a dictionary and picking a word at random is safe, it’s not. Hackers are also able to scan for common substitutions, so substituting ‘@’ for ‘a’ or ‘!’ for ‘l’ doesn’t help. Under a brute force attack, a random word with common substitutions and numbers or symbols added onto the end would only take around 3 days to crack.<br>
   3) Write your password down. If you write down your passwords and leave them somewhere accessible, especially near your computer, it makes it easier for people to access your accounts. Instead memorise your passwords and keep them private.
 
   </p>
   <br/>
   <p id="para8"><strong>
   <b><h2>Instead, it’s important that you:</h2></b>
   </strong><br>
   1) Set different passwords for each account. Consider your current password situation. Do you use the same password for Facebook, online banking, Amazon, etc.? Would cracking one password allow a hacker to enter multiple secure accounts? You should always set a different secure password for each of your accounts to ensure maximum security.
   <br>
   2) Use long passwords. The longer the password the more secure it is. Ideally, you should aim for a password that’s 12 characters or longer but, if you want to go shorter, ensure it’s not less than 6 characters.
   <br>
   3) Mix letters, numbers and symbols. Additionally, you should use a mix of lowercase and uppercase letters to help create the most secure password possible.
   <br>
   4) Use a string of words, such as ‘allotmentcarrothumaneats’. By using four separate words that you find easy to remember, you will make it much harder for automated hacking software to guess. This method could increase the time taken to guess your password from a few days to over one hundred years. 
   <br>
    5) Change automatically generated passwords. When you sign up to some companies, you receive an automatically generated password. You should change this to your own as soon as possible.
    <br>
   6) Make use of the password analysers some companies use. Are you told your password is ‘weak’ when you enter it? If you are, you should take note of this and make some changes.
   <br>
   <br>
   </p>
</div> 
<br/>
</html>